#edit-course-btn {
    width: 150px;
    height: 40px;
  }
  
  .edit-btn {
    background-image: url('/src/assets/edit.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: #ffc107;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #ffca28;
  }
  
  .delete-btn {
    background-image: url('/src/assets/delete.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .open-btn {
    background-image: url('/src/assets/open.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: #28a745;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .open-btn:hover {
    background-color: #218838;
    ;
  }