.list-btn {
    background-image: url('/src/assets/list.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: #28a745;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.list-btn:hover {
    background-color: #218838;
    ;
}

.modal-dialog {
    width: 800px;
    max-width: 800px;
}

#edit-course-btn {
    width: 150px;
    height: 40px;
  }

.edit-btn {
    background-image: url('/src/assets/edit.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: #ffc107;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}