.a-news {
    text-decoration: none
 }
 
 .carousel-item img {
     height: 500px; /* Điều chỉnh chiều cao của ảnh */
     object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
     width: 100%;
 }
 
 .form-label {
    display: block;
    text-align: left; 
 }
 .sales-btn {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #D3D3D3;
      background-color: #003E83;
      border-radius: 5px;
      border-color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 250px;
      height: 60px;
      font-size: 25px;
  }
  
 .sales-btn:hover {
      background-color: white;
      color: #003E83;
 }
 
 
 .list-course {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
     margin: 0 -50px; /* Tạo lề bên ngoài cách màn hình 20px */
 }
 
 .card-course {
     background-color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px;
     border-radius: #fff;
     box-shadow: 0 0 10px rga(0, 0, 0, 0.1);
     margin: 15px;
     /* không cho ảnh vượt ra ngoài */
     overflow: hidden;  
     border:none;
 }
 
 .card-course img {
     width: 100%;
     height: auto;
     border-radius: 10px;
     margin-bottom: 15px;
     transition: transform 0.8s ease;
 }
 
 .card-content {
     text-align: center;
 }
 
 .card-content h3 {
     font-size: 20px;
     margin-bottom: 10px;
     color: #666666;
 }
 
 .card-content p {
     font-size: 16px;
     line-height: 1.5;
     color:  #666666;
     margin-bottom: 8px;
 }
 
 .register-btn {
     padding: 10px 20px;
     font-size: 16px;
     font-weight: bold;
     color: #fff;
     background-color: #003E83; 
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
     width: 150px;
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none; /* Loại bỏ gạch chân mặc định */
 }
 
 .register-btn:hover {
     background-color: #0056b3; /* Màu nền của nút khi hover */
 }
 
 .register-btn:focus {
     outline: none; /* Loại bỏ đường viền xung quanh khi focus */
 }
 
 .text-card {
     color: #666;
     font-family: Roboto;
 }
 
 .register-div {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 #h3-course {
    color: #FF69B4;;
 }
 
 #h2-sale {
    color: #FF69B4;
 }
 
 .text-course {
    color:  #6A5ACD;
 }